@font-face {
  font-family: 'Helvetica';
  src: url("../fonts/HelveticaNeue-Medium.ttf");
}

@media print {
  html, body {
    height: auto;
    font-size: 16pt !important;
  }
}

body {
  font-family: Helvetica, sans-serif;
  font-size: 12pt;
}

.container {
  max-width: 800px;
  border: 2px solid;
  margin-top: 10px;
}

.row-header-1 {
  padding: 10px 0px;
  align-items: center;
  border-bottom: 1px solid;
}

.row-header-1 img {
  float: right;
}

.row-header-2 {
  text-align: center;
  border-bottom: 2px solid;
}

.row-content {
  padding-top: 20px;
}

mark {
  margin-left: 5px;
  padding: 2px 10px;
}

.btn {
  width: 100%;
}
