@font-face {
  font-family: 'Helvetica';
  src: url("../fonts/HelveticaNeue-Medium.ttf");
}

body {
  font-family: Helvetica, sans-serif;
  font-size: 12pt;
  background-color: #5F9EA0;
}

.container {
  background-color: white;
  padding: 5px 20px;
  box-shadow: 0px 0px 12px 3px rgba(34, 34, 34, 0.71);
}

.row-header-1 {
  color: white;
  background-color: #9C2C07;
  font-size: 150%;
  padding: 10px 0px;
  align-items: center;
}

.row-header-2 {
  background-color: #E9E1A2;
  text-align: center;
  padding-top: 8px;
}

.row-banner {
  margin-left: -30px;
  margin-right: -30px;
  padding: 5px 0px;
}

.block-title {
  border-bottom: 1px solid #EEE;
}

.form-body {
  margin-top: 20px;
  margin-bottom: 40px;
}

.btn {
  width: 100%;
}

.footer {
  margin: -5px -20px;
  padding-top: 25px;
  padding-bottom: 15px;
  background-color: #044A6E;
  color: white;
  border-top: 1px solid #E5E5E5;
  line-height: 5px;
}

.footer img {
  display: block;
  margin-right: 0;
  margin-left: auto;
}
